# sphinx build directories
_build/

# dotfiles
.*
!.gitignore
!.github
!.mailmap
# compiled python files
*.py[co]
__pycache__/
# setup.py egg_info
*.egg-info
# emacs backup files
*~
# hg stuff
*.orig
status
# odoo filestore
odoo/filestore
# maintenance migration scripts
odoo/addons/base/maintenance

# generated for windows installer?
install/win32/*.bat
install/win32/meta.py

# needed only when building for win32
setup/win32/static/less/
setup/win32/static/wkhtmltopdf/
setup/win32/static/postgresql*.exe

# various virtualenv
/bin/
/build/
/dist/
/include/
/lib/
/man/
/share/
/src/
addons/l10n_vn/__init__.py
addons/l10n_vn/__manifest__.py
addons/l10n_vn/data/account_chart_template_data.xml
addons/l10n_vn/data/account_data.xml
addons/l10n_vn/data/account_tax_data.xml
addons/l10n_vn/data/account_tax_report_data.xml
addons/l10n_vn/data/account.account.template.csv
addons/l10n_vn/data/l10n_vn_chart_data.xml
addons/l10n_vn/data/l10n_vn_chart_post_data.xml
addons/l10n_vn/demo/demo_company.xml
addons/l10n_vn/i18n_extra/l10n_vn.pot
addons/l10n_vn/i18n_extra/vi_VN.po
addons/l10n_vn/migrations/14.0.2.0.1/post-migration.py
addons/l10n_vn/static/description/icon.png
